.good{
    background-color: rgb(15, 81, 74);
}
.slay{
    height: 550px;
    width: 950px;
    margin: auto;
    background-color: aliceblue;
    margin-top: 40px;
}
.nice{
    height: 300px;
    width: 950px;
    margin: auto;
    background-color: blue;
    margin-top: 40px;

}